.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 50px;
  padding: 20px;
  &__icon {
    width: 150px;
    margin-bottom: 30px;
  }
  &__buttons_group {
    // width: 200px;
    display: flex;
    flex-direction: column;
    &__button {
      margin-bottom: 10px;
      width: 100%;
      text-align: left;
      &__content {
        justify-content: left;
      }
    }
  }
}
